body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

#game {
    width: 45vh;
    height: 90vh;
    padding: 0px;
    margin: 0px;
    background-color: #fff;
}

.row {
    width: 100%;
    height: 5%;
    margin: 0px;
    padding: 0px;
}

.tile {
    display: inline-block;
    width: 10%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.__MOVING_SHAPE {
    background-color: #00F;
    border-radius: solid #000 1px;
}

.__RESTING_SHAPE {
    background-color: #F00;
    border-radius: solid #000 1px;
}